<div class="varb">
  <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/d5fc62105242877.5f74a4d284960.jpg); ">
    <app-navbar> </app-navbar>

    <div class="full-bg-img mask rgba-black-light">

      <div class="container flex-center">

        <div class="row pt-5 mt-3 w-100">

          <div class="col-md-12">

            <div class="text-center">
              <div class="content">
                <h1 class="h1 h1-reponsive white-text font-up font-bold mb-3 wow fadeInDown " data-wow-delay="0.3s">
                  <strong>
                    ROOMS & SUITES
                  </strong>
                </h1>



                <h4 class="font-up mb-5 white-text wow fadeInDown" data-wow-delay="0.4s">
                  Each room and suite thoughtfully designed to provide comfort,ease and everything you need.
                </h4>



              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgb(209, 143, 93, 0.30);">


      <div class="row">
        <div class="col">  <h2 class="text-dark"><strong>450$</strong><small>/night</small></h2></div>
        <div class="col fas fa-bed">  <h5 class="text-dark">Sleeps 2</h5></div>
        <div class="col fas fa-bath">  <h5 class="text-dark">En suite </h5></div>
        <div class="col fas fa-key">  <h5 class="text-dark">Safe box</h5></div>
       
        <div class="col">  <a class="text-dark">More info</a></div>
      </div>
    </div>
    <!-- Copyright -->
  </footer>

  <br><br>
  <footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">

      <!--Grid row-->
      <div class="row">
        <!--Grid column--><h2 class="text-uppercase">Links</h2>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          

          <ul class="list-unstyled mb-0">
            <li>
              <h5 class="text-dark fas fa-bed"> Private Entrance</h5>
            </li>
            <li>
              <h5 class="text-dark fas fa-bed">1 King Sized Bed</h5>
            </li>
            <li>
              <h5 class="text-dark fas fa-bed">Accessible rooms</h5>
            </li>
            <li>
              <h5 class="text-dark fas fa-bed">49" Flat-screen TV</h5>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-dark">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-dark">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <!-- Copyright -->
  </footer>

</div>
